body {
    background-image: linear-gradient(rgb(236, 232, 236), rgb(245, 245, 245), rgb(214, 24, 24));
}

* {
    box-sizing: border-box;
}

.heading {
    padding: 70px;
}

.column {
    display: flex;
}


/* Create two equal columns that sits next to each other */

.column {
    float: left;
    padding: 40px;
    height: 300px;
    width: 50%;
    color: seashell;
}

@media screen and (max-width: 800px) {
    .column,
    .column1 {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}